<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipchelin.repository.mybatis.mappers.MemberMapper">

    <!-- 멤버 저장 -->
    <insert id="save" parameterType="com.zipchelin.domain.member.Member">
        insert into MEMBER_TBL (MEMBER_ID, MEMBER_PWD, MEMBER_NAME, MEMBER_EMAIL, PROVIDER, PROVIDER_ID)
        values (#{memberId}, #{memberPwd}, #{memberName}, #{memberEmail}, #{provider}, #{providerId})
    </insert>

    <!-- 멤버 조회 -->
    <select id="findById" resultType="com.zipchelin.domain.member.Member" parameterType="string">
        select MEMBER_ID, MEMBER_PWD, MEMBER_NAME, MEMBER_EMAIL, JOIN_DATE, MEMBER_IMG, MEMBER_ROLE
        from MEMBER_TBL
        where MEMBER_ID = #{memberId}
        and PROVIDER = 'ZIP'
    </select>

    <!-- 멤버 수정 -->
    <update id="update" parameterType="com.zipchelin.domain.member.Member">
        update MEMBER_TBL
        set MEMBER_PWD   = #{memberPwd},
            MEMBER_EMAIL = #{memberEmail},
            MEMBER_IMG   = #{memberImg}
        where MEMBER_ID = #{memberId}
          and PROVIDER = 'ZIP'
    </update>

    <!-- 멤버 삭제 -->
    <delete id="deleteById" parameterType="String">
        delete
        from MEMBER_TBL
        where MEMBER_ID = #{memberId}
    </delete>

    <!-- 중복 체크 -->
    <select id="countById" parameterType="string" resultType="int">
        select count(*)
        from MEMBER_TBL
        where MEMBER_ID = #{memberId}
    </select>

    <!-- 이메일 체크 -->
    <select id="countByEmail" parameterType="string" resultType="int">
        select count(*)
        from MEMBER_TBL
        where MEMBER_EMAIL = #{memberEmail}
    </select>

    <!-- 이메일 조회 -->
    <select id="findByEmail" parameterType="string" resultType="com.zipchelin.domain.member.Member">
        select MEMBER_ID, MEMBER_NAME, MEMBER_EMAIL
        from MEMBER_TBL
        where MEMBER_EMAIL = #{memberEmail}
        and PROVIDER = 'ZIP'
    </select>
    
    <!-- 비밀번호 초기화 -->
    <update id="pwdReset" parameterType="com.zipchelin.domain.member.Member">
        update MEMBER_TBL
        set MEMBER_PWD   = #{memberPwd}
        where MEMBER_ID = #{memberId}
          and PROVIDER = 'ZIP'
    </update>
</mapper>