<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipchelin.repository.mybatis.mappers.MypageMapper">

    <!--selectPostWithID(String id)-->
	<select id="selectPostWithID" parameterType="String">
	
	</select>
	
	<!--checkPass(String id,String pwd)-->
	<select id="checkPass" parameterType="String">
	
	</select>

	<!--updateMember(Member member)-->
	<update id="updateMember" parameterType="member">
	
	</update>
</mapper>