<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipchelin.repository.mybatis.mappers.NoticeMapper">

     <!-- 공지사항 추가 -->
    <insert id="addNotice" parameterType="com.zipchelin.domain.Notice">
    	<selectKey keyProperty="noticeNum" resultType="int" order="BEFORE" >select max(notice_NUM) +1 from notice_TBL</selectKey>
        insert into notice_TBL (notice_NUM, notice_TITLE, notice_CONT)
        values (#{noticeNum}, #{noticeTitle}, #{noticeCont})
    </insert>

    <!-- 공지사항 조회 -->
    <select id="selectAll" resultType="com.zipchelin.domain.Notice" parameterType="int">
        select notice_NUM, notice_TITLE, notice_CONT, notice_DATE
        from notice_TBL order by notice_num asc
    </select>

    <!-- 멤버 수정 
    <update id="update" parameterType="com.zipchelin.domain.Member">
        update member_TBL
        set member_pwd   = #{memberPwd},
            member_email = #{memberEmail},
            member_phone = #{memberPhone},
            member_img   = #{memberImg}
        where member_ID = #{memberId}
    </update>-->

    <!-- 멤버 삭제 
    <delete id="deleteById" parameterType="String">
        delete
        from member_TBL
        where member_ID = #{memberId}
    </delete>-->

    <!-- 중복 체크 
    <select id="countById" parameterType="string" resultType="int">

    </select>-->
</mapper>