<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zipchelin.repository.mybatis.mappers.QnaMapper">
    <!-- tb_post 테이블 전체 컬럼 -->
    <sql id="qnaColumns">
        select *
        from qna_tbl
    </sql>


    <!-- 게시글 저장 -->
    <insert id="save" parameterType="com.zipchelin.model.dto.qna.QnaRequest">
        INSERT INTO qna_tbl
        VALUES ( qna_sq.nextval
               , #{userId}
               , #{qnaTitle}
               , #{qnaContent}
               , sysdate
               , 0
               , 0)
    </insert>


    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="Long" resultType="com.zipchelin.model.dto.qna.QnaResponse">
        select *
        from qna_tbl
        WHERE qna_num = #{qnaNum}
    </select>


    <!-- 게시글 수정 -->
    <update id="update" parameterType="com.zipchelin.model.dto.qna.QnaRequest">
        UPDATE qna_tbl
        SET qna_title   = #{qnaTitle},
            qna_content = #{qnaContent}
        WHERE qna_num = #{qnaNum}
    </update>


    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="Long">
        delete
        qna_tbl
        where 
        	qna_num =
        #{qnaNum}
    </delete>


    <!-- 게시글 리스트 조회 -->
    <select id="findAll" parameterType="com.zipchelin.model.dto.qna.QnaDto"
            resultType="com.zipchelin.model.dto.qna.QnaResponse">
        select
        * from(select a.*, rownum as rnum from(select * from qna_tbl order by qna_num desc) a)
        <![CDATA[
				where rnum >= 0
				and rnum <= 10
				]]>
        <!--
         <![CDATA[
              where rnum >= #{paging.startIndex}
              and rnum <= #{paging.endIndex}
              ]]>
               -->

    </select>

    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="com.zipchelin.model.dto.qna.QnaDto" resultType="int">
        SELECT COUNT(*)
        FROM qna_tbl
    </select>
</mapper>