<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipchelin.repository.mybatis.mappers.UserMapper">

    <!-- 멤버 저장 -->
    <insert id="save" parameterType="com.zipchelin.domain.User">
        insert into USER_TBL (
        USER_ID, USER_PWD, USER_NAME, USER_EMAIL, USER_PHONE
        )
        values (
        #{userId}, #{userPwd}, #{userName}, #{userEmail}, #{userPhone}
        )
    </insert>

    <!-- 멤버 조회 -->
    <select id="findById" resultType="com.zipchelin.domain.User" parameterType="string">
        select USER_ID, USER_PWD, USER_NAME, USER_EMAIL, USER_PHONE, JOIN_DATE, USER_IMG
        from USER_TBL
        where USER_ID = #{userId}
    </select>

    <!-- 멤버 수정 -->
    <update id="update" parameterType="com.zipchelin.domain.User">
        update USER_TBL
        set user_pwd   = #{userPwd},
            user_email = #{userEmail},
            user_phone = #{userPhone},
            user_img   = #{userImg}
        where USER_ID = #{userId}
    </update>

    <!-- 멤버 삭제 -->
    <delete id="deleteById" parameterType="String">
        delete
        from USER_TBL
        where USER_ID = #{userId}
    </delete>

    <!-- 중복 체크 -->
    <select id="countById" parameterType="string" resultType="int">

    </select>
</mapper>