input[type=checkbox], input[type=radio] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#editorTxt {
    width: 100%;
}

/* 페이징 */
.paging {
    clear: both;
}

.paging ul {
    margin: 60px 0;
    width: 100%;
    text-align: center;
}

.paging li {
    display: inline-block;
    margin: 5px 2px;
    vertical-align: middle;
}

.paging li a {
    width: 35px;
    font-size: 20px;
    display: block;
}

.paging li.active a {
    border-radius: 50%;
    background-color: #4e73df;
    color: #ffffff;
    font-weight: 500;
}

.paging li:not(.active) a:hover{
	color: #4e73df;
}

.paging li.arrow:hover a{
	color: #222;
}

.paging li.arrow .material-symbols-outlined{
	line-height: 30px
}

.arrow a {
    color: #ddd;
    font-size: 18px;
}

.arrow button {
    background: transparent;
}

.arrow button span {
    vertical-align: middle;
}